/* Add CSS Styling */

.odd{
    background-color: #FFC5D3;
    font-family: "Verdana", "DejaVu Sans", sans-serif;
}

.odd.three{
    font-size: 24px;   
}

#two{
    color: #000080;
    font-size: 36px;
}

#four{
    background-color: #A8DCAB;
    font-size: 24px;
    font-weight: bold;
}