/* Add CSS Styling */
.mono,
.color{
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif;
}

.mono{
    background-color: black;
    color: white;
}

.color{
    background-color: yellow;
}